* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 75vw;
    height: 120vh;
    margin: 0 auto;
    padding: 10px;
}

img {
    border-radius: 20px;
}

header {
    background-color: darkblue;
    display: grid;
    height: 100px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.one {
    overflow: hidden;
    background-color: yellow;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30fr 30fr 10fr;
    grid-template-areas: "image1 image2 .";
}

.one .img1 {
    grid-area: image1;
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 20px;
}

.one .img2 {
    grid-area: image2;
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 20px;
}

.second {
    overflow: hidden;
    background-color: yellow;
    height: 250px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30fr 30fr 10fr;
    grid-template-areas: "image3 image4 .";
}


.second .img3 {
    grid-area: image3;
    width: 100%;
    height: 46%;
    object-fit: cover;
    border-radius: 20px;
}

.second .img4 {
    grid-area: image4;
    width: 100%;
    height: 46%;
    object-fit: cover;
    border-radius: 20px;
}


.four {
    background-color: red;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

footer {
    background-color: darkblue;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}